<!DOCTYPE html>

<html>
   <head>
      <title> Microservices | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Microservice</h1>
    <hr />
    <div class="container">
      <h2>Timestamp Microservice Usage:</h2>
      <ul>
        <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
        <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
      </ul>

      <h2>Example Output:</h2>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div>
      <h2>Request Header Parser Microservice</h2>
      <ul>
        <li><a href="api/whoami">[project url]/api/whoami</a></li>
      </ul>
    </div>
    <div>
      <h2>URL Shortener Microservice</h2>
      <p>Example: POST [project_url]/api/shorturl - https://www.google.com</p>
      <form method="post" action="/api/shorturl">
        <input placeholder="https://www.freecodecamp.org/" type="text" name="url" required />
        <button type="submit">POST URL</button>
      </form>
      <ul>
        <h2>Example usage</h2>
        <li><a href="https://spm-lite.netlify.app/">[project url]/api/shorturl/1</a></li>
      </ul>
      <ul>
        <h2>Will redirect to</h2>
        <li><a href="https://spm-lite.netlify.app/">https://spm-lite.netlify.app/</a></li>
      </ul>
    </div>
    <div>
      <h2>File Metadata Microservice</h2>
      <p>Please upload a file</p>
      <div>
        <form action="/api/fileanalyse" method="post" enctype="multipart/form-data">
          <input type="file" name="upfile" />
          <button type="submit">upload</button>
        </form>
      </div>
    </div>
    <div class="footer">
      <p>
        By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
      </p>
    </div>
  </body>
</html>
